/* custom css file build by @mrvi100|jeandoe */

/* import section starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* declaration of root variables */

:root {
  /* colors */
  --main-clr: #168cad;
  --light-bg: rgba(133, 121, 148, 0.05);
  --black1: #1a1a1a;
  --black2: #213547;
  --black3: #5c595a;
  --white1: #ffffff;
  --white2: #f9f9f9;
  /* borders */
  --border0: 1px solid rgba(0, 0, 0, 0.05);
  --border1: 1px solid rgba(0, 0, 0, 0.35);
  /* font family */
  --font-family: "Poppins", Arial, sans-serif;
}

/* initialization  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* base of code */

html {
  scroll-behavior: smooth;
  /* font-size: 90%; */
}
body {
  font-size: 0.938rem;
  overflow-x: none;

  line-height: 1.5;
  font-weight: 400;
  color: var(--black1);
  background-color: var(--white1);
  font-family: var(--font-family);
  &.dark {
    /* colors */
    --black1: #ffffff;
    --white1: #213547;

    --black1: rgba(255, 255, 255, 0.87);
    --white1: #242424;
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}
input,
textarea {
  font-family: var(--font-family);
}

/* reusables classes */

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.heading {
  font-weight: 400;
  text-transform: capitalize;
  color: var(--black2);
}
h1.heading {
  position: relative;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;
  text-align: center;
  margin: 4rem 0;
  text-decoration-color: var(--main-clr);
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(0%, -50%);
    width: 50%;
    height: 150%;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0 4rem 4rem 0;
  }
}
h2.heading {
  margin: 0.5rem 0;
}

.btn {
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--black1);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--white2);
  outline: 1px solid transparent;
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &:hover {
    background-color: var(--white1);
    transition: background-color 0.3s linear;
    color: var(--black2);
    outline: 1px solid var(--black1);
  }
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icon {
  font-size: 1.3rem;
  cursor: pointer;
  &:hover {
    color: var(--main-clr);
    transition: color 0.3s linear;
  }
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* header section starts */

.header {
  /* &.active {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  } */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .navbar {
      .nav_item {
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        color: var(--black2);
        &:hover {
          color: var(--main-clr);
          transition: color 0.3s linear;
        }
      }
      .close_navbar {
        display: none;
      }
    }
    .menu_navbar {
      display: none;
    }
    @media screen and (max-width: 768px) {
      .navbar {
        display: none;
        &.active {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
          background-color: var(--white1);
          display: grid;
          place-content: center;
          place-items: center;
          gap: 1rem;
          max-width: 25rem;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
            rgb(209, 213, 219) 0px 0px 0px 1px inset;
          .nav_item {
            width: 100%;
            border-radius: 0.25rem;
            text-align: center;
            &:hover {
              background-color: var(--light-bg);
              transition: background-color 0.2s linear;
            }
          }

          .close_navbar {
            display: inline-block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            padding: 0.1rem 0.2rem;
            background-color: var(--light-bg);
            border-radius: 0.25rem;
          }
        }
      }

      .menu_navbar {
        display: inline-block;
      }
    }
    @media screen and (max-width: 480px) {
      .navbar {
        &.active {
          max-width: 100%;
        }
      }
    }
  }
}

/* banner section starts */

.banner {
  padding: 0;
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .slide_container {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - 10px),
      calc(50% + 10px) calc(100% - 10px),
      50% 100%,
      calc(50% - 10px) calc(100% - 10px),
      0% calc(100% - 10px)
    );
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      &.current_image {
        display: inline-block;
      }
      &.hide_current_image {
        display: none;
      }
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.3rem;
      background: rgba(255, 255, 255, 0.5);
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: 700;
      &:first-of-type {
        left: 0.5rem;
      }
      &:last-of-type {
        right: 0.5rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .circle_indicators {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 2rem;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      border-radius: 0.25rem;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      padding: 1rem;
      left: 50%;
      transform: translateX(-50%);
      .current_indicator {
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        cursor: pointer;
        background: var(--white1);
        &.inactive_indicator {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

/* about section starts */

.about {
  padding: 0;
  .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
    place-content: center;
    place-items: center;
    gap: 1rem 3rem;
    min-height: 60vh;
    .image {
      max-width: 20rem;
      max-height: 20rem;
      height: 100%;
      width: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      padding: 0.5rem;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border-radius: 0.5rem; */
      }
    }
    .content {
      h2 {
        text-align: center;
        font-style: italic;
        margin-bottom: 1rem;
      }
      p {
        max-width: 25rem;
        width: 100%;
        text-align: justify;
        color: var(--black3);
        line-height: 1.7;
      }
      .btn {
        margin: 1rem 0;
      }
    }
  }
}

/* services section starts */

.services {
  h1.heading {
    &::after {
      right: 0;
    }
  }
  .box_container {
    max-width: 40rem;
    margin: 0 auto;
    h2.heading {
      text-align: center;
      margin-bottom: 2rem;
    }
    .tabs {
      border: var(--border0);
      .tab {
        display: inline-block;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: var(--black2);
        text-transform: capitalize;
        &:hover,
        &.active {
          background: rgba(0, 0, 0, 0.05);
        }
        i {
          font-size: 1.2rem;
          vertical-align: middle;
          margin-right: 0.5rem;
        }
      }
    }
    .content {
      border: var(--border1);
      padding: 1rem;
    }
  }
}

/* join section starts */

.join {
  border-bottom: var(--border1);
  h2 {
    text-align: center;
    margin: 1rem 0;
  }
  .description {
    max-width: 30rem;
    margin: 1rem auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
  }
  .input_box {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    .box {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      border: var(--border1);
    }
    .btn {
      display: block;
      width: 100%;
    }
  }
}
